nav {
  background-color: transparent;

  .navbar-brand {
    max-width: calc(100% - 5rem);
    width: 18rem;

    @media (max-width: 1400px) {
      width: 17rem;
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .nav-link {
    color: $primary;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 1.5rem;
    z-index: 3;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $primary;
      left: 0;
      bottom: -0.2rem;
      width: 0%;
      height: 3px;
      transition: all ease 0.4s;
    }

    &:hover{
      color: $primary;
      &::after{
        width: 100%;
      }
    }

    @media (max-width: 1400px) {
      margin: 0 1rem;
    }

    @media (max-width: 1200px) {
      text-align: center;
    }
  }
}